
appdirs

asgiref

astunparse
async-timeout
atomicwrites

autobahn
backports.weakref
bkcharts
black
brotlipy

certifi

channels
channels-redis
clyent
comtypes
constantly

cssselect

cytoolz
daal4py
daphne


datashape
dill
distlib

Django
django-cors-headers
django-jazzmin
djangorestframework
djongo
dnspython

et-xmlfile
etils
flatbuffers
fonttools

gast
google-auth-oauthlib
google-pasta
importlib-resources

inflection
keras

llvmlite

mccabe

mkl-fft
mkl-service

mpmath
munkres
mypy-extensions
numpy

oauthlib

opencv-contrib-python
opencv-python

opt-einsum
pathspec
patsy
pep8

Pillow

platformdirs

promise

protobuf

pyasn1-modules

pycosat
PyDispatcher


pyls-spyder
pymongo
pyreadline

pytest

python-lsp-jsonrpc
python-lsp-server

pytz
PyYAML
queuelib
redis
requests-oauthlib



sqlparse

statsmodels

tables
tabulate

tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-metadata
termcolor


virtualenv
webencodings
win-unicode-console
wincertstore

zict
