{% extends 'Pages/base.html' %}
{% load static %}


{% block content %}
<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img class="w-100" src="{% static 'img/carousel-2.png' %}" alt="Image">

                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center "
                    style="margin-bottom: 23rem;padding: 0 10vw;">
                    <div class="p-3" style="max-width: 1000px;">

                        <h1 class="display-1 text-white mb-md-8  animated zoomIn" style="margin-bottom: 30px; ">Keep
                            Your skin Healthy</h1>
                        <a href="{% url 'test' %}"
                            class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Test Now</a>
                        <a href="{% url 'contact' %}"
                            class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5>
                    <h1 class="display-5 mb-0">Keep Your skin Healthy with Derma Skin </h1>
                </div>
                <h4 class="text-body fst-italic mb-4">At Derma Skin, we are dedicated to promoting skin health and empowering individuals to take proactive steps in the early
                detection of skin cancer. Our app, Derma Skin, is designed to provide you with a powerful tool for skin cancer detection
                right at your fingertips. With our expertise in dermatology and advanced technology, we aim to revolutionize the way
                skin cancer is detected and diagnosed.
                </h4>


            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="{% static 'img/doctors.jpg' %}" style="object-fit: cover; margin-left: 200px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Appointment Start -->
<div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 py-5">
                <div class="py-5">
                    <h2 class="display-6 text-white mb-6">Discover DermaSkin Mobile: Skin Cancer Detection Anytime, Anywhere! </h2>
                    <p class="text-white mb-1">We are delighted to announce that our skin cancer detection application is now available in a mobile version! You can
                    now access our powerful detection and monitoring tool directly from your smartphone. Our mobile application provides a
                    user-friendly and intuitive interface, allowing you to take care of your skin wherever you are. You will be able to
                    perform regular self-examinations, capture images of your skin lesions, and utilize our advanced technology to detect
                    worrisome signs. With our mobile application, you have the convenience of taking proactive measures for your skin
                    health.</p>
                </div>
            </div>
            <div class="col-lg-6" id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              
                   
                        <div class="position-relative h-100">
                            <img class="position-absolute  h-100  rounded wow zoomIn" style="width: 800px; padding-left: 300px; " data-wow-delay="0.1s"  src="{% static 'img/mockup.png' %}">
                        </div>
                   
              
                 


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->

<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Our Dermatologists</h5>
                    <h1 class="display-6 mb-4">Meet Our Certified & Experienced Dermatologists</h1>
                </div>
            </div>
            {% for doctor in doctors %}
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative rounded-top" style="z-index: 1;">
                        {% if doctor.profil_image %}
                        <img class="img-fluid rounded-top w-100" src="media/{{doctor.profil_image}}" alt="">
                        {% else %}
                        {% if doctor.genre == "female" %}
                        <img class="img-fluid rounded-top w-100" src="{% static 'img/team-2.jpg' %}" alt="">
                        {% else %}
                        <img class="img-fluid rounded-top w-100" src="{% static 'img/team-1.jpg' %}" alt="">
                        {% endif %}
                        {% endif %}
                        <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                            <a class="btn btn-primary btn-square m-1" href="#"><i
                                    class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i
                                    class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i
                                    class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i
                                    class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">{{ doctor.username }}</h4>
                        <p class="text-primary mb-0"
                            style="display: flex;justify-content: center; /* flex-direction: row; */align-items: center;"><button class="contact-doctor" data-id="{{doctor.id}}">
                                Contact</button>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- Team End -->

{% endblock %}