{% extends 'Pages/base.html' %}
{% load static %}


{% block content %}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Skin Cancer Self-Assessment Quiz</h1>
        <i class="far fa-circle text-white px-2"></i>
        <a href="" class="h4 text-white">Home</a>
        <i class="far fa-circle text-white px-2"></i>
        </div>
    </div>
</div>
<!-- Hero End -->



<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <form method="post">
                {% csrf_token %}

                <div class="col-lg-12">
                    {% for question in questions %}

                    <div class="section-title mb-12">
                        <h3 style="	font-weight: bold; padding-bottom: 15px;"> {{ question.question }}</h3>
                    </div>

                    <div class="form-check" style="padding-bottom: 5px;">
                        <input  type="checkbox" name="YES {{question.id}}" id="{{question.id}}1">
                        <label class="form-check-label" for="YES {{question.id}}" style="font-weight: bold;">
                            <h5> YES</h5>
                        </label>
                    </div>

                    <div class="form-check">
                        <input  type="checkbox" name="NO {{question.id}}" id="{{question.id}}2">
                        <label class="form-check-label" for="NO {{question.id}}" style="font-weight: bold;">
                            <h5> NO</h5>
                        </label>
                    </div>


                    {% endfor %}
                </div>
                <button id="registration-button">Submit
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
            <h4 class="text-body fst-italic mb-4">
                Please note that this quiz is for self-assessment purposes only and should not replace a professional medical diagnosis.
                If you have any concerns about your skin or suspect skin cancer, it is always best to consult with a healthcare
                professional.

            </h4>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock %}