{% extends 'Pages/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    #image-field {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
    }

    #image-field.dragover {
        background-color: #f8f9fa;
    }

    #image-preview {
        max-width: 100%;
        max-height: 200px;
        margin-top: 10px;
    }
</style>

<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Test Now</h1>
            <i class="far fa-circle text-white px-2"></i>
            <a href="{% url 'Home' %}" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>

        </div>
    </div>
</div>
<!-- Hero End -->

<script type="text/javascript">
    function showFileName() {
        var fileInput = document.getElementById('entry_value');
        var fileName = fileInput.files[0].name;
        
    }
</script>


<!-- Contact Start -->
<div class="container-fluid py-6">
    <div class="container">
        <div class="row g-12">




            <div class="col-xl-8 col-lg-8 wow slideInUp" data-wow-delay="0.3s">
                

                <div class="form">
                    <form action="{% url 'drag' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                       
                        <div class="container" style="height: 400px;">
                            {% if messages %}
                            {% for message in messages %}
                            <h2 style="color: red;  ">{{ message }} </h2>
                            {% endfor %}
                            {% else %}
                            <h2>Drag and Drop Your Image</h2>
                            {% endif %}
                            <div id="image-field" class="mt-4" style="height: 300px;">
                                
                                <input type="file" id="entry_value" class="file-upload" />
                                
                            </div>
                            <span id="fileName"></span>
                        </div>
                        <p class="text-primary mb-0"
                            style="display: flex;justify-content: center; /* flex-direction: row; */align-items: center;">
                            <button type="submit" class="btn bg-color-dblue btn-primary px-4 py-3">Test</button>
                        </p>
                        
                    </form>
                </div>
              
            </div>


    <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
        <div class="bg-light rounded h-100 p-5">
            <div class="section-title">
                <h5 class="position-relative d-inline-block text-primary text-uppercase">Contact Us</h5>
                <h1 class="display-6 mb-4">Feel Free To Contact Us</h1>
            </div>
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Our Office</h5>
                    <span>123 Street, New York, USA</span>
                </div>
            </div>
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Email Us</h5>
                    <span>info@example.com</span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h5 class="mb-0">Call Us</h5>
                    <span>+012 345 6789</span>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

</div>
<!-- Contact End -->

{% endblock %}